-e git+https://github.com/scrapy/scrapely.git@39e7d2c7f9d7a36ecf879623093d53130c56e15d#egg=Package
Jinja2
MarkupSafe
PyReadability
Pygments
SQLAlchemy
beautifulsoup4
bokeh
chardet
cssselect
decorator
docopt
gnureadline
html2text
httpie
ipykernel
ipython
jieba
jsonschema
lxml
matplotlib 
mistune
nbconvert
nbformat
nltk
nose
numpy
notebook
pandas
path.py
pexpect
pickleshare
pillow
pquery
psycopg2
ptyprocess
pyparsing
pyquery
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
seaborn
simplegeneric
six
sympy
terminado
tornado
traitlets
w3lib
networkx
plotly
bs4
jupyter
splinter
